*{padding: 0;
margin: 0;
}
 body{width: 100vw;
overflow-x: hidden;}


.navbar img{
    width: 15vw;
    padding-left: 30px;
}
.navbar ul{
    list-style-type: none;
}
.mainNav{
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 60px;
}
.navbar a{
    margin: 0px 30px;
    text-decoration-line: none;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1D597D;
    font-weight: 600;
}
.registerNav{
    display: flex;
    position: absolute;
    top: 60px;
    right: 30px;
}


.navbar a.active{
    /* border-bottom: 4px solid green;
    padding-bottom: 5px;
    color: red; */

    background-color: orange;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.content{
    width: 100vw;
    height: 120vh;
}
footer{
    display: flex;
    
    width: 100vw;
    height: 10vh;
    justify-content: center;
    background-color: #1D597D;
    color: white;
    font-size: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.git{
    position: absolute;
    left: 30px;
    bottom: 10;
    font-size: 30px;
    color: white;
}
.git a{
    color: white;
}


.home{
    width: 100vw;
    height: 140vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: orange;
    padding-top: 70px;
    flex-direction: column;
    
}
.home video{
    width: 65vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.videoArticle{width: 55vw;
height: 70vh;
background-color: #1D597D;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 40px;
size: 100%;
align-self: center;
}

.fields{
    background-color: orange;
    height: 62vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.fields div{
    width: 24vw;
    height: 50vh;
    
    border: 6px solid #1D597D;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1D597D;
    flex-direction: column;
    gap: 50px;
    background-color: #1D597D;
}
.fields img{
    width: 28vw;
    height: 70vh;
    align-self: center;
}
.fields h3{
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}