/* Global */


*{padding: 0;
margin: 0;
font-weight: 600;
font-family: Arial, Helvetica, sans-serif;
}
 body{width: 100vw;
overflow-x: hidden;}
/* Global */


/* Navbar */
.navbar img{
    width: 15vw;
    padding-left: 30px;
}
.navbar ul{
    list-style-type: none;
}
.mainNav{
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: left;
    padding-left: 240px;
    position: absolute;
    top: 60px;
    
}
.navbar a{
    margin: 0px 30px;
    text-decoration-line: none;
    font-size: 22px;
    color: #1D597D;
}
.registerNav{
    display: flex;
    position: absolute;
    top: 60px;
    right: 20px;
}


.navbar a.active{
   

    background-color: orange;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
/* Navbar */

/* Footer */
footer{
    display: flex;
    
    width: 100vw;
    height: 10vh;
    justify-content: center;
    background-color: #1D597D;
    color: white;
    font-size: 20px;
    align-items: center;
    
}
.git{
    position: absolute;
    left: 30px;
    bottom: 10;
    font-size: 30px;
    color: white;
}
.git a{
    color: white;
}
/* Footer */

.home{
    width: 100vw;
    height: 140vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: orange;
    padding-top: 30px;
    flex-direction: column;
    
}
.home video{
    width: 80vw;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home .gamer a{
  margin-top: 20px;
}
.buttons{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 340px;
  right: 154px;
}
.arrows{
  width: 170px;
  height: 170px;
  position: absolute;
  top: 340px;
  left: 157px;
}

.videoArticle{width: 80vw;
height: 75vh;
background-color: #1D597D;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 40px;
size: 100%;
align-self: center;
}

.fields{
    background-color: orange;
    height: 72vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.fields div{
    width: 24vw;
    height: 50vh;
    
    border: 6px solid #1D597D;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
    
    color: #1D597D;
    flex-direction: column;
    gap: 50px;
    background-color: #1D597D;
}
.fields img{
    width: 28vw;
    height: 70vh;
    align-self: center;
}
.fields h3{
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}

::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the track */
    border-radius: 10px; /* Rounded corners for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb when hovered */
  }

  .register{
    height: 65vh;
    width: 40vw;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #1D597D;
    text-align: center;
    padding-top: 20px;
    color: white;
    border-radius: 40px;
    
  }
  .registerDiv{
    background-color: orange;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 69.7vh;
    padding-top: 0px;
    box-sizing: border-box;
    justify-content: space-evenly;
    
  }
  .registerDiv .register h1{
    padding-bottom: 10px;
  }
  .register input{
    padding: 3px;
    border-radius: 10px;
    margin-top: 5px;
  }
 
  .registerDiv .redirect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1D597D;
    text-align: center;
    height: 40vh;
    padding: 40px;
    color: white;
    
    font-size: 20px;
    border-radius: 40px;
  }
  .registerDiv button, .registerDiv .inputButton{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
  }
  .registerDiv .redirect p{
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .registerDiv .redirect h1{
    padding-bottom: 20px;
  }

  .tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .question-mark {
    font-size: 24px;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%; /* Arrow pointing down */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }


  
  .question{
    width: 50vw;
    background-color: #1D597D;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .logout button{
    height: 8vh;
    width: 8vw;
  }
  .fields a{
    text-decoration-line: none;
  }

  .login{
    width: 100vw;
    height: 69.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    flex-direction: column;
    gap: 20px;
  }

  .login form{
    background-color: #1D597D;
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 40px;
  }
  .login input{
    border-radius: 10px;
    padding: 2px;
  }
  
  .login .additional{
    width: 20vw;
    height: 14vh;
    background-color: #1D597D;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .login .additional button{
    margin-top: 5px;
  }
  .login form h1{
padding-bottom: 20px;
  }
  .logout{width: 100vw;
  height: 69.7vh;
background-color: orange;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}
.logout button{
  border-radius: 10px;
  font-size: 23px;
  margin-top: 20px;
  
}
.logout article{
  width: 50vw;
  height: 40vh;
  background-color: #1D597D;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  gap: 20px;
}


.publish{
  height: 85vh;
  width: 100vw;
  display: flex;
  
  justify-content: space-around;
  align-items: center;
  background-color: orange;
}
.publish .submitBtn{
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 10px;
}
.publish article{
  height: 80vh;
  border-radius: 40px;
  width: 40vw;
  background-color: #1D597D;
  color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 100px;

}
.publishInfo{
  width: 45vw;
  height: 80vh;
  background-color: #1D597D;
  border-radius: 40px;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 15px;
}
.publish textarea{
  border-radius: 20px;
  padding: 10px;
  max-width: 500px;
  min-width: 300px;
  overflow: hidden;
  min-height: 20px;
  max-height: 30px;
}
textarea:invalid{
  border: 5px solid orange;
}
.publishInfo h1{
  font-size: 27px;
  text-align: center;
}
input:invalid{
  border: 4px solid orange;
}

.publishInfo ul{
  list-style-type: none;
  height: 40vh;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
  width: 30vw;
  font-size: 18px;
  text-align: center;
  align-items: center;
}

.publish input{
  border-radius: 10px;
  padding: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.publish h1{
  align-self: center;
  padding-top: 0px;
  
}
.about{
  width: 100vw;
  height: 160vh;
  
  background-color: orange;
}
.aboutUpper{
  height: 80vh;
  width: 100vw;
  
  box-sizing: border-box;
  background-color: #1D597D;
 
}
.aboutUpper img{
  width: 100vw;
  height: 80vh;
}
.aboutLower{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
  height: 50vh;
  margin: 100px 0px;
  
}
.aboutLower .text{
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  
  gap: 10px;
  background-color: #1D597D;
  margin: 30px 0px;
  border-radius: 40px;
  padding: 10px 30px;
}
.aboutLower .text p{
text-indent: 20px;

color: white;
font-size: 20px;
border-radius: 20px;
}
.aboutLower .logos{
  display: flex;
  flex-direction: column;
  font-size: 90px;
  
  
}
.aboutLower .logos a{
  color: #1D597D;
}

.catalog{
  min-height: 100vh;
  width: 100vw;
}
.catalog .title{
  background-color: #1D597D;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
.catalog .titleSp{
  width: 100vw;
  background-color: #1D597D;
  color: white;
  height: 8vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  height: 100vh;
  background-color: orange;
  box-sizing: border-box;
}
.catalog .titleSp h1{
  background-color: #1D597D;
  width: 100vw;
  text-align: center;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.catalog .titleSp img{
  width: 70vw;
  margin-top: 40px;
  border-radius: 20px;
  height: 75vh;
  box-sizing: border-box;
}

.gameItem{
  background-color: #1D597D;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 40px;
  color: white;
  text-align: center;
}

.gameItem img{
  width: 18vw;
  height: 36vh;
}
.catalog .items{
  background-color: orange;
  min-height: 92vh;
  padding-top: 20px;
}
.catalog button{
  padding: 10px;
  text-transform: uppercase;
  border-radius: 40px;
}
.catalog .items ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}
.catalog .items ul img{
  border-radius: 10px;
}
.catalog .items h1{
  max-height: 6vh;
  font-size: 20px;
}


.gameDetails{
  height: 150vh;
  width: 100vw;
  background-color: orange;
  color: white;
  display: flex;

  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 40px;

}
.gameDetails article{
  display: flex;
  
  
}
.gameImages{
  margin-top: 30px;
 /* background-color: #1D597D; */
 flex-direction: column;
 display: flex;
 justify-content: space-around;
 align-items: centers;
 box-sizing: border-box;
 gap: 30px;
 width: 30vw;
}
.gameImages .right{
  display: flex;
  flex-direction: column;
}
.gameImages img{
  width:25vw ;
  padding: 10px;
  background-color: #1D597D;
  box-sizing: border-box;
  border-radius: 40px;
  align-self: center;
  
}
.gameDetails .mainImage{
  height: 60vh;
}
.gameDetails .secondaryImage{
  height: 40vh;
}
.specFunc{
  display: flex;
  background-color: #1D597D;
  border-radius: 40px;
  gap: 30px;
  padding: 40px;
}
 .myAccount .gamesBought, .myAccount .publishedGames{color: black;}
.gameDetails .title{
  height: 10vh;
  width: 100vw;
  text-align: center;
  align-self: center;
  font-size: 30px;
  padding-top: 20px;
  background-color: #1D597D;
}
.gameDetails .info{
  background-color: #1D597D;
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: space-around;
  align-items: center;
  height: 97vh;
  margin-left: 50px;
  padding: 30px;
  border-radius: 40px;
  text-indent: 15px;
}
.gameDetails .info iframe{
  width: 60vw;
  height: 60vh;
  border-radius: 10px;
}
.gameDetails .info article{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.functionality button{
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 30px;
}
.functionality{
display: flex;
justify-content: space-around;
width: 40vw;
margin-left: 30vw;}
.myAccount{
  display: flex;
  flex-direction: column;
  background-color: orange;
  
  min-height: 99vh;
  width: 100vw;
  text-align: center;
  justify-content: start;
  gap: 40px;
  color: white;
}

.gamesBoughtUl, .gamesPublishedUl{
  list-style-type: none;
  width:40vw ;
  
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  box-sizing: border-box;
  max-height: 70vh;
  overflow-y: scroll;
}
.gamesBoughtUl button, .gamesPublishedUl button{
  font-size: 15px;
  margin-top: 10px;
  padding: 2px;
  border-radius: 10px;
}
.leftInfo h1, .rightInfo h1{
  font-size: 26px
}
.accountWelcome{
  font-size: 45px;
  background-color: #1D597D;
  height: 8vh;
}
.gamesBoughtUl li, .gamesPublishedUl li{
  border: 2px solid white;
  padding: 10px;
  background-color: #1D597D;
  border-radius: 10px;
}
.myAccount .leftAndRight{
  width: 100vw;
  
  height: 80vh;
 
  gap: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;

}
.myAccount button{
  padding: 3px;
  font-size: 15px;
}
.myAccount .leftInfo{
  background-color: #1D597D;
  width: 45vw;
  margin-left: 30px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.myAccount .rightInfo{
  background-color: #1D597D;
  margin-right: 40px;
  width: 45vw;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.myAccount .publishedGames, .myAccount .gamesBought{
  background-color: orange;
  color: white;
  width: 40vw;
  
  height: 70vh;
  border-radius: 10px;
}

.login .submitBtn, .login button{
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}


.notFound{
  background-color: orange;
  height: 69.7vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

.bestSellers{
  width: 100vw;
  height: 154vh;
  background-color: #1D597D;
  
}
.bestSellers article{padding: 30px;
text-indent: 10px;
display: flex;
justify-content: space-around;
align-items: center;
}
.bestSellers .title{
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}
.bestSellers .firstPlace{
  background-color: orange;
  height: 40vh;
  display: flex;
}
.bestSellers img{
  width: 22vw;
  height: 40vh;
  border-radius: 20px;
}
.bestSellers .secondPlace{
  background-color: #1D597D;
  height: 40vh;
  display: flex;
}
.bestSellers .thirdPlace{
  background-color: orange;
  height: 40vh;
  display: flex;
}
.bestSellers .info{
  display: flex;
  flex-direction: column;
  width: 40vw;
  text-align: center;
  font-size: 25px;
  color: white;
}
.bestSellers button{
  width: 13vw;
  margin-top: 50px;
  align-self: center;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}
.bestSellers .inactiveUsers{
  color: white;
  text-align: center;
  background-color: orange;
  height: 150vh;
  font-size: 40px;
}
.inactiveUsers h1{
  font-size: 30px;
  padding-bottom: 40px;
  padding-top: 20px;
}
.inactiveUsers img{
  width: 80vw;
  height: 120vh;
}